<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include "layouts/head.twig" %} {% block head %}{% endblock %}
	</head>
	<body class="h-screen relative pt-11 bg-slate-900 text-white">
		{% include "layouts/navbar.twig" %} {% block body %}{% endblock %} {% block
		scripts %}{% endblock %}
	</body>
</html>
