<nav class="absolute top-0 left-0 w-full bg-gray-800 text-gray-100">
	<ul class="flex p-1">
		<li>
			<a
				href="{{ path('') }}"
				class="block py-2 px-4 border border-slate-600 rounded hover:bg-slate-600 hover:border-slate-400"
				>Home</a
			>
		</li>
	</ul>
</nav>
